.container{
    align-content: center;
    text-align:center;
}
.header{
	width:100%;
	text-align:left;
}
.body{
	width: 95%;
	padding: 0 2% 0 2%;
	margin-bottom:25px;
	overflow:auto;
	display:inline-flex;
}